:root {
  --body-bg: #0f1424;
  --navbar-bg: #1c1f4a;
  --navbar-bg-2: rgba(28, 31, 74, 0.725);
  --letters: hsl(0, 0%, 90%);
  --letters-dark: hsla(0, 0%, 100%, 0.4);
  --navbar-shadow: hsl(0, 0%, 0%, 0.3);
  --blue: #5847eb;
  --sky-blue: #56c2e6;
  --orange: #ff8c66;
  --green: #4acf81;
  --red: #ff5c7c;
  --violet: #7536d3;
  --yellow: #f1c65b;
  --profile-filter: linear-gradient(
      hsl(236, 45%, 20%, 0.35),
      hsl(236, 45%, 20%, 0.3)
    ),
    url(../../assets/profile-picture.jpg);
}

.light-mode {
  --orange: hsl(10, 100%, 60%);
  --sky-blue: hsl(200, 90%, 42%);
  --body-background: #f9f9f9;
  --navbar-bg: #f9f9f9;
  --navbar-bg-2: rgba(249, 249, 249, 0.725);
  --navbar-shadow: hsl(0, 0%, 0%, 0.1);
  --letters: #0f1424;
  --profile-filter: linear-gradient(hsl(0, 0%, 90%, 0.2), hsl(0, 0%, 90%, 0.1)),
    url(../../assets/profile-picture.jpg);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Ubuntu", sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  padding-top: 70px;
  overflow-x: hidden;
  position: relative;
  background-color: var(--body-bg);
  min-height: 100vh;
}
@media (min-width: 600px) {
  body {
    padding-top: 100px;
  }
}
@media (min-width: 900px) {
  body {
    padding-top: 140px;
  }
}

main {
  margin: 0 auto;
  width: 100%;
  max-width: 1450px;
}

header {
  width: 100%;
  height: 70px;
  position: fixed;
  top: 0;
  z-index: 10;
  backdrop-filter: blur(10px);
  background-image: linear-gradient(to bottom, rgba(28, 31, 74, 0.75), rgba(23, 29, 64, 0.75), rgba(19, 26, 55, 0.75), rgba(16, 23, 46, 0.75), rgba(15, 20, 36, 0.75));
  display: flex;
  align-items: center;
}
@media (min-width: 600px) {
  header {
    height: 100px;
  }
}
@media (min-width: 900px) {
  header {
    height: 140px;
  }
}

.menu {
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
  padding: 0px 15px;
  display: flex;
  justify-content: space-between;
  gap: 40px;
  align-items: center;
}
.menu__flags {
  display: flex;
  align-items: center;
  gap: 5px;
}
.menu__flag {
  cursor: pointer;
  width: 37px;
  border-radius: 2px;
}
.menu__flag:hover {
  outline: solid rgba(88, 71, 235, 0.7) 3px;
}
.menu__flag-active {
  outline: solid var(--blue) 3px;
}
.menu__buttons {
  display: flex;
  align-items: center;
  gap: 10px;
}
.menu__buttons-config {
  cursor: pointer;
  color: var(--letters);
  background-color: transparent;
  padding: 8px;
  border-radius: 50%;
  outline: none;
  border: outset hsla(0deg, 0%, 100%, 0.4) 2.5px;
  transition: all 200ms ease-in-out;
}
@media (min-width: 1000px) {
  .menu__buttons-config {
    padding: 10px;
  }
}
.menu__buttons-config i {
  color: var(--letters);
  font-size: 24px;
}
@media (min-width: 1000px) {
  .menu__buttons-config i {
    font-size: 26px;
  }
}
.menu__buttons-config:hover {
  border: outset var(--letters) 2.5px;
}
.menu__buttons-bars {
  transform: scale(0.85);
  display: flex;
}
@media (min-width: 700px) {
  .menu__buttons-bars {
    display: none;
  }
}
.menu__nav-desktop {
  display: none;
  width: 100%;
  max-width: 700px;
  justify-content: center;
  gap: 25px;
}
@media (min-width: 700px) {
  .menu__nav-desktop {
    display: flex;
  }
}
@media (min-width: 900px) {
  .menu__nav-desktop {
    justify-content: space-evenly;
  }
}
.menu__nav-desktop__link {
  text-decoration: none;
  padding-bottom: 5px;
  color: var(--letters);
  text-transform: capitalize;
  font-size: 18px;
  font-weight: 500;
  color: var(--letters-dark);
  transition: color 10ms ease-in-out;
  position: relative;
}
.menu__nav-desktop__link:hover {
  color: var(--letters);
}
.menu__nav-desktop__link::after {
  content: "";
  width: 100%;
  transform: scaleX(0);
  height: 2.5px;
  border-radius: 2px;
  position: absolute;
  left: 0;
  bottom: 0;
  background-color: var(--letters);
  transform-origin: bottom right;
  transition: transform 200ms ease-in-out;
}
.menu__nav-desktop__link:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}
.menu__nav-mobile {
  position: fixed;
  z-index: 10;
  transform: translateX(100%);
  top: 69.65px;
  left: 0px;
  width: 100%;
  height: calc(100vh - 65.65px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 80px;
  transition: transform 200ms ease-in-out;
  background-image: linear-gradient(to top, rgba(28, 31, 74, 0.75), rgba(23, 29, 64, 0.75), rgba(19, 26, 55, 0.75), rgba(16, 23, 46, 0.75), rgba(15, 20, 36, 0.75));
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
}
@media (min-width: 600px) {
  .menu__nav-mobile {
    top: 99.65px;
    height: calc(100vh - 99.65px);
  }
}
@media (min-width: 700px) {
  .menu__nav-mobile {
    display: none;
  }
}
.menu__nav-mobile-active {
  transform: translateX(0);
}
.menu__nav-mobile__link {
  color: var(--letters);
  display: block;
  padding-bottom: 5px;
  text-decoration: none;
  text-transform: capitalize;
  font-size: 20px;
  position: relative;
}
.menu__nav-mobile__link::after {
  content: "";
  width: 100%;
  transform: scaleX(0);
  height: 2.5px;
  border-radius: 2px;
  position: absolute;
  left: 0;
  bottom: 0;
  background-color: var(--letters);
  transform-origin: bottom right;
  transition: transform 200ms ease-in-out;
}
.menu__nav-mobile__link:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.hamburger-inner,
.hamburger-inner::before,
.hamburger-inner::after {
  background-color: var(--letters);
}

.hamburger.is-active .hamburger-inner,
.hamburger.is-active .hamburger-inner::before,
.hamburger.is-active .hamburger-inner::after {
  background-color: var(--red);
}

.home {
  display: grid;
  grid-template-columns: 1fr;
  gap: 50px;
  padding-bottom: 80px;
}
@media (min-width: 400px) {
  .home {
    padding-bottom: 160px;
    gap: 70px;
  }
}
@media (min-width: 500px) {
  .home {
    padding-bottom: 240px;
    gap: 140px;
  }
}
@media (min-width: 600px) {
  .home {
    padding-bottom: 300px;
    gap: 180px;
  }
}
@media (min-width: 1000px) {
  .home {
    padding-bottom: 0;
    height: calc(100vh - 140px);
    grid-template-columns: 1fr 1fr;
    gap: 0px;
  }
}
.home__texts {
  width: 100%;
  max-width: 400px;
  color: var(--letters);
  text-align: center;
  padding-top: 60px;
}
.home__texts__container {
  width: 100%;
  display: flex;
  justify-content: center;
}
@media (min-width: 1000px) {
  .home__texts__container {
    align-items: center;
  }
}
@media (min-width: 1000px) {
  .home__texts {
    text-align: left;
    padding-top: 0px;
  }
}
@media (min-width: 1200px) {
  .home__texts {
    max-width: 550px;
  }
}
.home__name {
  font-size: 55px;
  font-weight: 700;
  margin-bottom: 5px;
}
@media (min-width: 550px) {
  .home__name {
    font-size: 100px;
  }
}
@media (min-width: 1200px) {
  .home__name {
    font-size: 160px;
  }
}
.home__hello, .home__description {
  font-size: 18px;
  font-weight: 400;
}
@media (min-width: 550px) {
  .home__hello, .home__description {
    font-size: 20px;
  }
}
@media (min-width: 1200px) {
  .home__hello, .home__description {
    font-size: 28px;
  }
}
.home__description {
  text-transform: uppercase;
}
.home__description:nth-child(4) {
  margin-bottom: 15px;
}
.home__buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
@media (min-width: 400px) {
  .home__buttons {
    flex-direction: row;
    justify-content: center;
    gap: 20px;
  }
}
@media (min-width: 1000px) {
  .home__buttons {
    justify-content: start;
  }
}
.home__buttons__resume {
  font-weight: 500;
  font-size: 18px;
  text-transform: capitalize;
  padding: 15px 20px;
  border-radius: 35px;
  border: outset var(--blue) 2.5px;
  background-color: transparent;
  color: var(--blue);
  cursor: pointer;
  transition: all 200ms ease-in-out;
}
.home__buttons__resume:hover {
  color: var(--letters);
  background-color: var(--blue);
  box-shadow: 0 2px 50px rgba(88, 71, 235, 0.4);
}
@media (min-width: 550px) {
  .home__buttons__resume {
    font-size: 20px;
  }
}
@media (min-width: 1200px) {
  .home__buttons__resume {
    padding: 20px 30px;
    border-radius: 40px;
  }
}
.home__buttons-group {
  display: flex;
  gap: 10px;
}
.home__buttons__social-media {
  font-size: 30px;
  cursor: pointer;
  filter: brightness(0.85);
  transition: filter 200ms ease-in-out;
}
@media (min-width: 550px) {
  .home__buttons__social-media {
    font-size: 40px;
  }
}
@media (min-width: 1200px) {
  .home__buttons__social-media {
    font-size: 45px;
  }
}
.home__buttons__social-media:hover {
  filter: brightness(1.1);
}
.home__buttons__social-media:first-child {
  color: var(--green);
}
.home__buttons__social-media:nth-child(2) {
  color: var(--blue);
}
.home__buttons__social-media:last-child {
  color: var(--red);
}

.galaxy {
  width: 250px;
  height: 250px;
  position: relative;
  transform: scale(0.7);
}
.galaxy__container {
  width: 100%;
  display: flex;
  justify-content: center;
}
@media (min-width: 1000px) {
  .galaxy__container {
    align-items: center;
  }
}
@media (min-width: 350px) {
  .galaxy {
    transform: scale(0.8);
  }
}
@media (min-width: 400px) {
  .galaxy {
    transform: scale(0.9);
  }
}
@media (min-width: 450px) {
  .galaxy {
    transform: scale(1);
  }
}
@media (min-width: 500px) {
  .galaxy {
    transform: scale(1.2);
  }
}
@media (min-width: 550px) {
  .galaxy {
    transform: scale(1.3);
  }
}
@media (min-width: 600px) {
  .galaxy {
    transform: scale(1.4);
  }
}
@media (min-width: 650px) {
  .galaxy {
    transform: scale(1.5);
  }
}
@media (min-width: 1200px) {
  .galaxy {
    transform: scale(1.6);
  }
}
@media (min-width: 1500px) {
  .galaxy {
    transform: scale(1.7);
  }
}

.sun {
  cursor: pointer;
  z-index: 4;
  width: 95px;
  height: 95px;
  font-size: 65px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: rgb(216, 216, 58);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 30ms ease-in-out;
}
.sun:active {
  transform: translate(-50%, -50%) scale(0.9);
}
.sun-active {
  outline: solid rgb(216, 216, 58) 2px;
  outline-offset: 3px;
}

.ring {
  position: absolute;
  border-radius: 50%;
  border-width: 2px;
  border-color: white;
  animation-name: ring-rotate;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
.ring__1 {
  z-index: 3;
  border-style: inset;
  inset: 47px;
  animation-duration: 5s;
}
.ring__2 {
  z-index: 2;
  border-style: dashed;
  inset: 10px;
  animation-duration: 10s;
}
.ring__3 {
  border-style: outset;
  inset: -25px;
  animation-duration: 12s;
}

@keyframes ring-rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.moon {
  position: absolute;
  left: 50%;
  width: 28px;
  height: 28px;
  cursor: pointer;
  z-index: 1;
}
.moon-active {
  outline-offset: 3px;
  outline-style: solid;
  outline-width: 2px;
}
.moon__html {
  transform: translate(-50%, -50%);
  border-radius: 50%;
  outline-color: var(--orange);
}
.moon__css {
  transform: translate(-50%, -50%);
  border-radius: 50%;
  outline-color: #28adc4;
}
.moon__sass {
  transform: translate(-50%, 50%);
  background-color: var(--red);
  bottom: 0;
  outline-color: var(--red);
}
.moon__github {
  border-radius: 50%;
  background-color: #000;
  transform: translate(-50%, -50%);
  outline-color: var(--green);
}
.moon__figma {
  bottom: 0;
  transform: translate(-50%, 50%);
  background-color: var(--violet);
  outline-color: var(--violet);
}
.moon__sass, .moon__figma {
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.moon__content::after {
  display: none;
  color: #000;
  font-family: "Ubuntu", sans-serif;
  border-radius: 0 2px 2px 0;
  padding: 3px;
  box-sizing: content-box;
  text-align: right;
  position: absolute;
  font-size: 13px;
  font-weight: bold;
  left: 100%;
  top: 50%;
  transform: translateY(-50%);
  clip-path: polygon(25% 0%, 100% 0%, 100% 100%, 25% 100%, 0% 50%);
}
.moon__content-active::after {
  display: block;
}
.moon__content__html {
  animation: moon-rotate 5s infinite linear;
  background-color: var(--orange);
}
.moon__content__css {
  animation: moon-rotate 10s infinite linear;
  background-color: #28adc4;
}
.moon__content__sass {
  animation: moon-rotate 10s infinite linear;
}
.moon__content__sass img {
  width: 100%;
  display: block;
  width: 25px;
}
.moon__content__github {
  font-size: 28.32px;
  color: var(--green);
  animation: moon-rotate 12s infinite linear;
}
.moon__content__figma {
  font-size: 22px;
  color: #000;
  animation: moon-rotate 12s infinite linear;
}
.moon__content__html, .moon__content__css {
  border-radius: 50%;
  padding-top: 2px;
  font-size: 22px;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.moon__content__github, .moon__content__figma {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.moon__content__html::after {
  width: 46px;
  content: "HTML";
  background-color: var(--orange);
}
.moon__content__css::after {
  width: 30px;
  background-color: #28adc4;
  content: "CSS";
}
.moon__content__sass::after {
  width: 41px;
  content: "SASS";
  background-color: var(--red);
  left: calc(100% + 1px);
}
.moon__content__github::after {
  width: 61px;
  content: "GITHUB";
  background-color: var(--green);
}
.moon__content__figma::after {
  width: 54px;
  content: "FIGMA";
  background-color: var(--violet);
}

@keyframes moon-rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}
.about {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 70px;
}
@media (min-width: 1000px) {
  .about {
    padding-top: 200px;
    flex-direction: row-reverse;
    gap: 0;
    justify-content: space-evenly;
  }
}
.about__text {
  color: var(--letters);
  width: 100%;
  max-width: 700px;
  padding: 0 20px;
}
@media (min-width: 1000px) {
  .about__text {
    padding: 0;
  }
}
.about__title {
  font-size: 30px;
  margin-bottom: 15px;
}
@media (min-width: 1000px) {
  .about__title {
    font-size: 35px;
  }
}
.about__description {
  font-size: 17px;
  line-height: 28px;
}
@media (min-width: 1000px) {
  .about__description {
    font-size: 18px;
  }
}
.about__image {
  padding-left: 7px;
  position: relative;
  width: 250px;
  height: 250px;
  background-image: var(--profile-filter);
  background-size: cover;
  border-radius: 5px;
  transition: all 200ms ease-in-out;
}
@media (min-width: 400px) {
  .about__image {
    width: 300px;
    height: 300px;
  }
}
@media (min-width: 1000px) {
  .about__image {
    width: 250px;
    height: 250px;
  }
}
@media (min-width: 1200px) {
  .about__image {
    width: 350px;
    height: 350px;
  }
}
.about__image::before {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 7px;
  left: 7px;
  border-right: outset 3px var(--blue);
  border-bottom: outset 3px var(--blue);
  border-radius: 5px;
  transition: all 200ms ease-in-out;
}
.about__image:hover::before {
  top: 10px;
  left: 10px;
  border-width: 5px;
  border-right-style: solid;
  border-bottom-style: solid;
}
.about__image:hover {
  box-shadow: 0 2px 50px rgba(88, 71, 235, 0.2);
  transform: translate(-2px, -2px);
  opacity: 0.9;
}

.proyects {
  padding-top: 200px;
}
.proyects__title {
  color: var(--letters);
  text-align: center;
  text-transform: capitalize;
  font-size: 30px;
  margin-bottom: 40px;
}
@media (min-width: 1000px) {
  .proyects__title {
    font-size: 35px;
  }
}
.proyects__container {
  margin: 0 auto;
  width: 100%;
  max-width: 1300px;
  padding: 0 15px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(330px, 1fr));
  justify-content: center;
  grid-auto-rows: 280px;
  gap: 20px;
}
@media (min-width: 500px) {
  .proyects__container {
    grid-auto-rows: 250px;
  }
}
@media (min-width: 500px) {
  .proyects__container {
    grid-auto-rows: 280px;
  }
}
.proyects__card {
  border-radius: 5px;
  background-size: cover;
  background-position: top center;
  width: 100%;
  overflow: hidden;
  position: relative;
  transition: all 150ms ease-in;
  box-shadow: 0px 0px 20px 20px 20px red inset;
}
.proyects__card:hover {
  box-shadow: 0 25px 80px -10px hsl(246deg, 80%, 15%);
}
.proyects__card:hover .proyects__card__content {
  bottom: 0;
}
.proyects__card__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: brightness(0.75);
}
.proyects__card__content {
  backdrop-filter: blur(5px);
  background-image: linear-gradient(to bottom, rgba(28, 31, 74, 0.9), rgba(23, 29, 64, 0.9), rgba(19, 26, 55, 0.9), rgba(16, 23, 46, 0.9), rgba(15, 20, 36, 0.9));
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: absolute;
  bottom: calc(-80% + 10px);
  left: 0;
  width: 100%;
  height: 100%;
  padding: 20px 25px;
  color: var(--letters);
  transition: all 1s cubic-bezier(0.19, 1, 0.22, 1);
}
.proyects__card__title {
  font-size: 20px;
  font-weight: 500;
  text-transform: capitalize;
}
@media (min-width: 700px) {
  .proyects__card__title {
    font-size: 22px;
  }
}
.proyects__card__description {
  font-size: 15px;
  line-height: 23px;
}
@media (min-width: 800px) {
  .proyects__card__description {
    font-size: 16px;
    line-height: 25px;
  }
}
.proyects__card__bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.proyects__card__tools {
  color: var(--sky-blue);
  font-size: 13px;
}
@media (min-width: 500px) {
  .proyects__card__tools {
    font-size: 14px;
  }
}
.proyects__card__links {
  font-size: 20px;
}
@media (min-width: 800px) {
  .proyects__card__links {
    font-size: 22px;
  }
}
.proyects__card__links a {
  text-decoration: none;
  cursor: pointer;
  filter: brightness(0.85);
  transition: filter 200ms ease-in-out;
}
.proyects__card__links a:hover {
  filter: brightness(1.1);
}
.proyects__card__links a:first-child {
  color: var(--green);
  margin-right: 5px;
}
.proyects__card__links a:last-child {
  color: var(--violet);
}

.contact {
  padding-top: 200px;
  text-align: center;
}
.contact__title {
  color: var(--letters);
  font-size: 30px;
  margin-bottom: 15px;
}
@media (min-width: 1000px) {
  .contact__title {
    font-size: 35px;
  }
}
.contact__description {
  color: var(--letters);
  font-size: 17px;
  line-height: 28px;
  margin-bottom: 50px;
}
@media (min-width: 1000px) {
  .contact__description {
    font-size: 18px;
  }
}
.contact__email {
  color: var(--blue);
}
.contact__email:active {
  color: var(--sky-blue);
}

.form {
  width: 100%;
  max-width: 700px;
  margin: 0 auto;
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 25px;
  padding-bottom: 50px;
}
.form__top {
  display: flex;
  flex-direction: column;
  gap: 25px;
  flex-wrap: wrap;
}
@media (min-width: 500px) {
  .form__top {
    flex-direction: row;
  }
}
.form__group {
  flex: 1;
  display: flex;
  flex-direction: column;
  text-align: left;
  gap: 10px;
  position: relative;
}
.form__group::after {
  content: "";
  border-radius: 3px;
  height: 3.1px;
  width: 100%;
  background-color: var(--blue);
  position: absolute;
  bottom: 0;
  filter: brightness(0.7);
}
.form__label {
  padding-left: 2px;
  color: var(--letters);
  font-weight: 500;
  font-size: 17px;
}
@media (min-width: 1000px) {
  .form__label {
    font-size: 18px;
  }
}
.form__input {
  font-weight: 300;
  color: var(--letters);
  border-radius: 2.5px;
  padding: 10px;
  border: none;
  outline: none;
  background-color: var(--navbar-bg);
  font-size: 17px;
}
@media (min-width: 1000px) {
  .form__input {
    font-size: 18px;
  }
}
.form__input:focus + .form__selected {
  width: 100%;
}
.form__input-textarea {
  height: 250px;
  resize: none;
}
@media (min-width: 600px) {
  .form__input-textarea {
    height: 200px;
  }
}
.form__selected {
  border-radius: 3px;
  height: 3px;
  width: 0;
  background-color: var(--blue);
  position: absolute;
  bottom: 0;
  z-index: 1;
  transition: 200ms cubic-bezier(0.47, 0, 0.745, 0.715) width;
}
.form__button {
  margin-left: auto;
  width: 100px;
  padding: 10px 0;
  border: outset var(--blue) 2.5px;
  outline: none;
  color: var(--blue);
  background-color: transparent;
  border-radius: 10px;
  font-weight: 500;
  font-size: 17px;
  cursor: pointer;
  transition: all 200ms ease-in-out;
}
@media (min-width: 600px) {
  .form__button {
    padding: 15px 0;
  }
}
@media (min-width: 1000px) {
  .form__button {
    font-size: 18px;
  }
}
.form__button:hover {
  background-color: var(--blue);
  color: var(--letters);
}
.form__button:active {
  transform: scale(0.95);
}

.waves {
  width: 100%;
  height: 15vh;
  min-height: 100px;
  max-height: 100px;
  margin-bottom: -4px;
}

.parallax > use {
  animation: moveForever 25s cubic-bezier(0.55, 0.5, 0.45, 0.5) infinite;
}

.parallax > use:nth-child(1) {
  animation-delay: -2s;
  animation-duration: 7s;
}

.parallax > use:nth-child(2) {
  animation-delay: -3s;
  animation-duration: 10s;
}

.parallax > use:nth-child(3) {
  animation-delay: -4s;
  animation-duration: 13s;
}

.parallax > use:nth-child(4) {
  animation-delay: -5s;
  animation-duration: 20s;
}

@keyframes moveForever {
  0% {
    transform: translate3d(-90px, 0, 0);
  }
  100% {
    transform: translate3d(85px, 0, 0);
  }
}
footer {
  width: 100%;
  height: 20px;
  font-size: 12px;
  font-weight: 500;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: rgb(88, 71, 235);
}

/*# sourceMappingURL=main.css.map */
