*,
::before,
::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Ubuntu", sans-serif;
}

:root {
  --fondo-body: #0f1424;
  --fondo-navbar: #1c1f4a;
  --letras: hsl(0, 0%, 90%);
  --sombra-navbar: hsl(0, 0%, 0%, 0.3);
  --primario: rgb(88, 71, 235);
  --sky-blue: #56c2e6;
  --orange: #ff8c66;
  --green: #4acf81;
  --red: #ff5c7c;
  --violet: #7536d3;
  --yellow: #f1c65b;
  --filtro-perfil: linear-gradient(
      hsl(236, 45%, 20%, 0.35),
      hsl(236, 45%, 20%, 0.3)
    ),
    url(./assets/foto-cuadrada.jpg);
}

.light-mode {
  --orange: hsl(10, 100%, 60%);
  --sky-blue: hsl(200, 90%, 42%);
  --fondo-body: #f9f9f9;
  --fondo-navbar: #f9f9f9;
  --sombra-navbar: hsl(0, 0%, 0%, 0.1);
  --letras: #0f1424;
  --filtro-perfil: linear-gradient(hsl(0, 0%, 90%, 0.2), hsl(0, 0%, 90%, 0.1)),
    url(./assets/foto-cuadrada.jpg);
}

.hidden {
  opacity: 0;
  filter: blur(3px);
  transform: translateY(70px);
  transition: opacity 500ms ease-in, filter 300ms ease-in, transform 600ms ease;
}

.show {
  opacity: 1;
  filter: blur(0);
  transform: translateY(0);
}

html {
  scroll-behavior: smooth;
}

body {
  padding-top: 72px;
  background-color: var(--fondo-body);
  width: 100%;
  min-height: 100vh;
  position: relative;
  transition: all 200ms ease-out;
  overflow-x: hidden;
}

/* NAVBAR (inicio) ----------------------------------------------------- */
.nav {
  position: fixed;
  z-index: 10;
  top: 0;
  width: 100%;
  background-color: var(--fondo-navbar);
  color: var(--letras);
  padding: 23px 0;
  box-shadow: 0px 1px 30px var(--sombra-navbar);
}

.nav__container {
  margin: 0 auto;
  width: 95%;
  max-width: 1450px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__flags {
  width: 75px;
  gap: 3px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav__flag__item {
  width: 33px;
}

.nav__flag__img {
  display: block;
  cursor: pointer;
  transition: box-shadow 50ms ease-in;
}

.nav__flag__img:hover {
  box-shadow: 0px 0px 0px 2px var(--primario);
}

.nav__flag__item:nth-child(1) {
  transition-delay: 50ms;
}

.nav__flag__item:nth-child(2) {
  transition-delay: 100ms;
}

.nav__list {
  display: flex;
  list-style: none;
  gap: 30px;
  align-items: center;
}

.nav__link {
  cursor: pointer;
}

.nav__link:nth-child(1) {
  transition-delay: 150ms;
}

.nav__link:nth-child(2) {
  transition-delay: 200ms;
}

.nav__link:nth-child(3) {
  transition-delay: 250ms;
}

.nav__link:nth-child(4) {
  transition-delay: 300ms;
}

.nav__link:nth-child(5) {
  transition-delay: 350ms;
}

.nav__link a {
  text-decoration: none;
  color: var(--letras);
  font-weight: 400;
  position: relative;
  font-size: 20px;
  text-transform: capitalize;
}

.nav__link a::after {
  content: "";
  position: absolute;
  transform: scaleX(0);
  width: 100%;
  height: 3px;
  border-radius: 3px;
  background-color: var(--letras);
  left: 0;
  bottom: -5px;
  transition: transform 200ms ease-in-out;
  transform-origin: bottom right;
}

.nav__link a:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.nav__link__icon {
  height: 26px;
  width: 26px;
}

.nav__link__icon img {
  width: 100%;
}

.label-menu {
  display: none;
  width: 40px;
  height: 25px;
  position: relative;
  cursor: pointer;
}

#span-1,
#span-2,
#span-3 {
  background-color: var(--letras);
  position: absolute;
  content: "";
  width: 40px;
  height: 5px;
  border-radius: 5px;
  transition: all 500ms ease;
}

#span-2 {
  top: 11px;
}

#span-3 {
  top: 22px;
}

#btn-menu {
  display: none;
}

#btn-menu:checked ~ .label-menu #span-1 {
  transform: rotate(140deg);
  top: 10px;
  background-color: var(--red);
}

#btn-menu:checked ~ .label-menu #span-2 {
  transform: scaleX(0);
}

#btn-menu:checked ~ .label-menu #span-3 {
  transform: rotate(-140deg);
  top: 10px;
  background-color: var(--red);
}

/* NAVBAR (fin) ----------------------------------------------------- */
@media screen and (max-width: 1100px) {
  /* HOME (inicio) ------------------------------------------------------- */
  .home-container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 80px;
  }
  .home {
    padding: 70px 0;
  }
  .home-txt p {
    padding-left: 0;
  }
  .home-btns-container {
    padding-left: 0;
  }
  /* HOME (fin) ------------------------------------------------------- */
  /* ABOUT (inicio) ------------------------------------------------------- */
  #about {
    flex-direction: column;
    gap: 80px;
  }
  .fto-perfil-container {
    order: 1;
  }
  .fto-perfil-container {
    width: 320px;
    height: 320px;
  }
  /* ABOUT (fin) ------------------------------------------------------- */
  /* PROYECT (inicio) ------------------------------------------------------- */
  #proyects {
    gap: 40px;
  }
  .title-proyect {
    padding-top: 100px;
  }
  .cards-container {
    padding-bottom: 100px;
  }
  /* PROYECT (fin) ------------------------------------------------------- */
}
@media screen and (max-width: 576px) {
  /* NAVBAR (inicio) ----------------------------------------------------- */
  body {
    padding-top: 65px;
  }
  .label-menu {
    display: initial;
  }
  .nav__list {
    position: fixed;
    top: 71px;
    left: 0;
    width: 100%;
    height: 0;
    background-color: var(--fondo-navbar);
    flex-direction: column;
    justify-content: space-evenly;
    overflow: hidden;
    transition: all 200ms ease-in;
  }
  .nav__link a {
    font-size: 25px;
  }
  .nav__link__icon {
    width: 30px;
    height: 30px;
  }
  #btn-menu:checked ~ .nav__list {
    height: calc(100vh - 71px);
  }
  /* NAVBAR (fin)----------------------------------------------------- */
  /* HOME (inicio)------------------------------------------------------- */
  .home-txt .name {
    font-size: 100px;
  }
  .home-txt p {
    font-size: 20px;
  }
  .ola {
    width: 80%;
  }
  .container-code {
    border-radius: 35px;
    padding: 22px 47px;
  }
  .code-txt {
    font-size: 16px;
    line-height: 1.5;
  }
  .btn-CV {
    font-size: 16px;
    padding: 10px 20px;
  }
  .home-btns a img {
    width: 35px;
    height: 35px;
  }
  .btn-CV {
    font-size: 20px;
  }
  /* HOME (fin) ----------------------------------------------------- */
  /* ABOUT (inicio) ----------------------------------------------------- */
  .about-text {
    padding: 0 20px;
  }
  .title {
    font-size: 45px;
  }
  .subtitle {
    text-align: center;
  }
  .sm-txt {
    font-size: 16px;
  }
  .skills {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 15px;
  }
  .skill-icon {
    width: 70px;
  }
  /* ABOUT (fin) ----------------------------------------------------- */
  /* PROYECT (inicio) ------------------------------------------------------- */
  .cards-container {
    gap: 40px;
    padding: 0 10px 100px;
  }
  .card {
    width: 100%;
    max-width: 350px;
  }
  /* PROYECT (fin) ------------------------------------------------------- */
  /* CONTACT (inicio) -----------------------------------------------------*/
  .contact-description {
    padding: 0 15px;
  }
  .form-top {
    flex-direction: column;
  }
  .btn-send {
    padding: 10px 20px;
  }
  .name-input,
  .email-input,
  .msg-input,
  .btn-send {
    font-size: 16px;
  }
  /* CONTACT (fin) -----------------------------------------------------*/
}
@media screen and (max-width: 480px) {
  /* NAVBAR (inicio) ----------------------------------------------------- */
  .nav__link a {
    font-size: 20px;
  }
  .nav__link__icon {
    width: 25px;
    height: 25px;
  }
  /* NAVBAR (fin) ------------------------------------------------------- */
  /* HOME (inicio) ------------------------------------------------------- */
  .home-txt .name {
    font-size: 80px;
  }
  .home-txt p {
    font-size: 18px;
  }
  .home-txt {
    text-align: center;
    padding: 0 5px;
  }
  .container-code {
    padding: 20px 35px;
  }
  .code-txt {
    font-size: 14px;
    line-height: 1.5;
  }
  .home-btns-container {
    justify-content: center;
  }
  .home-btns-container {
    gap: 20px;
  }
  /* HOME (fin) ------------------------------------------------------- */
  /* ABOUT (inicio) ------------------------------------------------------- */
  .fto-perfil-container {
    width: 270px;
    height: 270px;
  }
  /* ABOUT (fin) ------------------------------------------------------- */
  /* OLAS(inicio) ------------------------------------- */
  .waves {
    height: 10vh;
    min-height: 50px;
    max-height: 50px;
  }
  /* OLAS(fin) --------------------------------------- */
  /*FOOTER (iniico)* -------------------------------------*/
  footer {
    font-size: 10px;
  }
  /*FOOTER (fin)* -------------------------------------*/
}
@media screen and (max-width: 385px) {
  /* HOME (inicio) ------------------------------------------------------- */
  .home-txt .name {
    font-size: 65px;
  }
  .home-btns-container {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .container-code {
    padding: 15px 30px;
  }
  .code-txt {
    font-size: 12px;
    line-height: 1.5;
  }
  /* HOME (inicio) ------------------------------------------------------- */
  /* ABOUT (inicio) ------------------------------------------------------- */
  #about {
    gap: 50px;
  }
  .fto-perfil-container {
    width: 200px;
    height: 200px;
  }
  /* ABOUT (fin) ------------------------------------------------------- */
  /* PROYECTS  (inicio) ---------------------------------------------------*/
  .card {
    height: 225px;
  }
  .card-txt {
    padding: 18px;
  }
  .card-title {
    font-size: 18px;
    margin-bottom: 15px;
  }
  .card-description {
    font-size: 14px;
    margin-bottom: 2px;
  }
  .card-technologies {
    font-size: 12px;
  }
  .card-link img {
    width: 24px;
  }
  /* PROYECTS  (fin) ---------------------------------------------------*/
  /* CONTACT  (inicio) ---------------------------------------------------*/
  #contact {
    padding-bottom: 60px;
  }
  /* CONTACT  (fin) ---------------------------------------------------*/
}
@media screen and (max-width: 385px) {
  /* HOME (inicio) ------------------------------------------------------- */
  .container-code {
    padding: 13px 25px;
  }
  .code-txt {
    font-size: 11px;
  }
  /* HOME (fin) ------------------------------------------------------- */
}

/*# sourceMappingURL=styles.css.map */
