*,
::before,
::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Ubuntu", sans-serif;
}

:root {
  --fondo-body: #0f1424;
  --fondo-navbar: #1c1f4a;
  --fondo-navbar-2: rgba(28, 31, 74, 0.725);
  --letras: hsl(0, 0%, 90%);
  --sombra-navbar: hsl(0, 0%, 0%, 0.3);
  --primario: rgb(88, 71, 235);
  --sky-blue: #56c2e6;
  --orange: #ff8c66;
  --green: #4acf81;
  --red: #ff5c7c;
  --violet: #7536d3;
  --yellow: #f1c65b;
  --filtro-perfil: linear-gradient(
      hsl(236, 45%, 20%, 0.35),
      hsl(236, 45%, 20%, 0.3)
    ),
    url(../../assets/foto-cuadrada.jpg);
}

.light-mode {
  --orange: hsl(10, 100%, 60%);
  --sky-blue: hsl(200, 90%, 42%);
  --fondo-body: #f9f9f9;
  --fondo-navbar: #f9f9f9;
  --fondo-navbar-2: rgba(249, 249, 249, 0.725);
  --sombra-navbar: hsl(0, 0%, 0%, 0.1);
  --letras: #0f1424;
  --filtro-perfil: linear-gradient(hsl(0, 0%, 90%, 0.2), hsl(0, 0%, 90%, 0.1)),
    url(../../assets/foto-cuadrada.jpg);
}

.hidden {
  opacity: 0;
  filter: blur(3px);
  transform: translateY(100px);
  transition: opacity 800ms ease-in, filter 500ms ease-in, transform 800ms ease;
}

.show {
  opacity: 1;
  filter: blur(0);
  transform: translateY(0);
}

html {
  scroll-behavior: smooth;
}

body {
  padding-top: 72px;
  background-color: var(--fondo-body);
  width: 100%;
  min-height: 100vh;
  position: relative;
  transition: all 200ms ease-out;
  overflow-x: hidden;
}

.title {
  font-size: 50px;
  font-weight: 700;
  color: var(--letras);
  margin-bottom: 20px;
}

.subtitle {
  font-size: 27px;
  color: var(--letras);
}

.sm-txt {
  font-size: 20px;
  line-height: 1.4;
  font-weight: 300;
  color: var(--letras);
}

/* HOME ---------------------------------------------------- */
.home {
  width: 100%;
  scroll-margin-top: 72px;
}

.home__container {
  max-width: 1500px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: calc(100vh - 72px);
  margin: 0 auto;
  gap: 20px;
}

.home__ola {
  position: absolute;
  top: 0;
  right: 0;
  z-index: -50;
  width: 60vw;
}

/* ABOUT ---------------------------------------------- */
.about {
  scroll-margin-top: 30px;
  padding: 50px 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 70px;
}

/* PROYECTS ------------------------------------------- */
.proyects {
  min-height: 100vh;
  padding-bottom: 50px;
  background-image: url(../../assets/proyect-fondo-2.png);
  background-repeat: no-repeat;
  background-position: center top;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 80px;
}

.proyects__title {
  padding-top: 40px;
}

.cards-container {
  padding: 0 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 80px;
}

/* CONTACT ------------------------------------------- */
.contact {
  padding-top: 50px;
  padding-bottom: 100px;
  scroll-margin-top: 40px;
}

.contact__title,
.contact__description {
  text-align: center;
}

.contact__description {
  max-width: 400px;
  margin: 0 auto;
  color: var(--letras);
  margin-bottom: 30px;
}

.contact__description a {
  color: var(--primario);
}

.contact__description a:active {
  color: var(--sky-blue);
}

/* FOOTER ---------------------------------------------- */
footer {
  position: absolute;
  width: 100%;
  bottom: 0;
  height: 20px;
  font-size: 12px;
  font-weight: 500;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: rgb(88, 71, 235);
}

.btn, .btn-send {
  text-decoration: none;
  background-color: transparent;
  color: var(--primario);
  padding: 12px 22px;
  border-radius: 10px;
  border: solid 2px var(--primario);
  font-size: 22px;
  cursor: pointer;
  transition: all 250ms ease-in-out;
}

.btn:hover, .btn-send:hover {
  color: hsl(0deg, 0%, 90%);
  background-color: var(--primario);
  box-shadow: 0 2px 50px hsla(246deg, 80%, 60%, 0.4);
}

.btn-send {
  margin-left: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  gap: 5px;
}

.btn-send-icon {
  transition: all 250ms ease-in-out;
}

.btn-send:hover .btn-send-icon {
  filter: brightness(5);
}

/* NAVBAR (inicio) ---------------------------------------------------- */
.nav {
  position: fixed;
  z-index: 10;
  top: 0;
  width: 100%;
  background-color: var(--fondo-navbar);
  color: var(--letras);
  padding: 23px 0;
  box-shadow: 0px 1px 30px var(--sombra-navbar);
  transition: background-color 0.45s ease 0s;
}
.nav__transparency {
  background-color: var(--fondo-navbar-2);
  backdrop-filter: blur(10px);
}
.nav__container {
  margin: 0 auto;
  width: 95%;
  max-width: 1450px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav__flags {
  width: 75px;
  gap: 3px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.nav__flags__item {
  width: 33px;
}
.nav__flags__item:nth-child(1) {
  transition-delay: 50ms;
}
.nav__flags__item:nth-child(2) {
  transition-delay: 100ms;
}
.nav__flags__img {
  display: block;
  cursor: pointer;
  transition: box-shadow 50ms ease-in;
}
.nav__flags__img:hover {
  box-shadow: 0px 0px 0px 2px var(--primario);
}
.nav__list {
  display: flex;
  list-style: none;
  gap: 30px;
  align-items: center;
}
.nav__link {
  cursor: pointer;
}
.nav__link a {
  text-decoration: none;
  color: var(--letras);
  font-weight: 400;
  position: relative;
  font-size: 20px;
  text-transform: capitalize;
}
.nav__link a::after {
  content: "";
  position: absolute;
  transform: scaleX(0);
  width: 100%;
  height: 3px;
  border-radius: 3px;
  background-color: var(--letras);
  left: 0;
  bottom: -5px;
  transition: transform 200ms ease-in-out;
  transform-origin: bottom right;
}
.nav__link a:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}
.nav__link__icon {
  height: 26px;
  width: 26px;
}
.nav__link__icon img {
  width: 100%;
}

.nav__link:nth-child(1) {
  transition-delay: 150ms;
}

.nav__link:nth-child(2) {
  transition-delay: 200ms;
}

.nav__link:nth-child(3) {
  transition-delay: 250ms;
}

.nav__link:nth-child(4) {
  transition-delay: 300ms;
}

.nav__link:nth-child(5) {
  transition-delay: 350ms;
}

.label-menu {
  display: none;
  width: 40px;
  height: 25px;
  position: relative;
  cursor: pointer;
}

#span-1,
#span-2,
#span-3 {
  background-color: var(--letras);
  position: absolute;
  content: "";
  width: 40px;
  height: 5px;
  border-radius: 5px;
  transition: all 500ms ease;
}

#span-2 {
  top: 11px;
}

#span-3 {
  top: 22px;
}

#btn-menu {
  display: none;
}

#btn-menu:checked ~ .label-menu #span-1 {
  transform: rotate(140deg);
  top: 10px;
  background-color: var(--red);
}

#btn-menu:checked ~ .label-menu #span-2 {
  transform: scaleX(0);
}

#btn-menu:checked ~ .label-menu #span-3 {
  transform: rotate(-140deg);
  top: 10px;
  background-color: var(--red);
}

/* NAVBAR (fin) ----------------------------------------------------- */
.home__container {
  display: flex;
  align-items: center;
  gap: 40px;
}
.home__txt .name {
  font-size: 160px;
  color: var(--letras);
}
.home__txt p {
  padding-left: 10px;
}
.home__txt .rol {
  text-transform: uppercase;
  margin-bottom: 15px;
}
.home__btn__container {
  padding-left: 10px;
  display: flex;
  align-items: center;
  gap: 40px;
}
.home__btn__group {
  display: flex;
  gap: 15px;
}
.home__link img {
  width: 45px;
  height: 45px;
}
.home__link:hover {
  transform: scale(1.2);
  filter: contrast(250%);
}
.home__link {
  transition: all 200ms ease-in;
}

.home__code {
  transition-delay: 250ms;
  background-color: var(--fondo-navbar);
  border-radius: 35px;
  padding: 27px 55px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25), inset 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}
.home__code__txt {
  font-size: 20px;
  line-height: 1.5;
  color: var(--letras);
  font-weight: 400;
}

.tag,
.attr,
.attr-value,
.home__code__txt__li {
  display: inline-block;
}

.tag {
  color: var(--primario);
}

.attr {
  color: var(--sky-blue);
}

.attr-value {
  color: var(--orange);
}

.about__text {
  max-width: 550px;
}
.about__subtitle {
  margin: 25px 0 20px;
}
.about__skills {
  background-color: var(--fondo-navbar);
  border-radius: 15px;
  padding: 15px;
  display: flex;
  justify-content: center;
  gap: 30px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.25), inset 0 2px 2px 0 rgba(0, 0, 0, 0.25);
}
.about__skills__box {
  width: 70px;
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 10px;
}
.about__skills__box:nth-child(1) p {
  color: var(--orange);
}
.about__skills__box:nth-child(2) p {
  color: var(--sky-blue);
}
.about__skills__box:nth-child(3) p {
  color: var(--green);
}
.about__skills__box:nth-child(4) p {
  color: var(--yellow);
}
.about__skills__box:nth-child(5) p {
  color: var(--red);
}
.about__skills__box img {
  width: 70px;
}

.about__skills__box:nth-child(1) {
  transition-delay: 100ms;
}

.about__skills__box:nth-child(2) {
  transition-delay: 200ms;
}

.about__skills__box:nth-child(3) {
  transition-delay: 300ms;
}

.about__skills__box:nth-child(4) {
  transition-delay: 400ms;
}

.about__skills__box:nth-child(5) {
  transition-delay: 500ms;
}

.about__container {
  transition-delay: 250ms;
  width: 420px;
  height: 420px;
  animation-name: deformar;
  animation-duration: 20s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
  overflow: hidden;
  border: solid 8px var(--primario);
}
.about__fto {
  width: 100%;
  height: 100%;
  background-image: var(--filtro-perfil);
  background-size: cover;
}

@keyframes deformar {
  0% {
    border-radius: 50% 50% 70% 30%/70% 29% 71% 30%;
  }
  25% {
    border-radius: 70% 30% 70% 30%/54% 63% 37% 46%;
  }
  50% {
    border-radius: 25% 75% 87% 13%/49% 58% 42% 51%;
  }
  75% {
    border-radius: 27% 73% 40% 60%/13% 38% 62% 87%;
  }
  100% {
    border-radius: 32% 68% 66% 34%/42% 40% 60% 58%;
  }
}
.card {
  width: 350px;
  height: 260px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  overflow: hidden;
  color: var(--letras);
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25), inset 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  border-radius: 15px;
  outline-offset: -0.5px;
}
.card:first-child {
  background: url(../../assets/todolistscreen.png);
  background-size: cover;
  background-position: center center;
}
.card:nth-child(2) {
  background: url(../../assets/calculator-screen.png);
  background-size: cover;
  background-position: center center;
}
.card:nth-child(3) {
  background: url(../../assets/Rock-Paper-Scissor-screen.png);
  background-size: cover;
  background-position: center center;
}
.card:nth-child(4) {
  background: url(../../assets/memory-game-screen.png);
  background-size: cover;
  background-position: center center;
}
.card:hover {
  outline: solid 2px var(--primario);
  box-shadow: 0 5px 10px hsla(246deg, 80%, 60%, 0.4), inset 0 2px 2px 0 rgba(0, 0, 0, 0.25);
}
.card:hover .card__txt {
  height: 55%;
}
.card__txt {
  height: 60%;
  background-color: var(--fondo-navbar);
  border-radius: 15px;
  padding: 15px 20px;
  border-bottom: solid 5px var(--primario);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: all 500ms ease;
}
.card__title {
  font-size: 22px;
  font-weight: 500;
}
.card__description {
  font-weight: 300;
}
.card__bot {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}
.card__technologies {
  font-weight: 300;
  font-size: 14px;
  letter-spacing: 0.5px;
  color: var(--sky-blue);
}
.card__link {
  text-decoration: none;
}
.card__link img {
  width: 28px;
}
.card__link img:hover {
  filter: contrast(200%);
}

.card:nth-child(1) {
  transition-delay: 250ms;
}

.card:nth-child(2) {
  transition-delay: 450ms;
}

.card:nth-child(3) {
  transition-delay: 650ms;
}

.form {
  max-width: 620px;
  padding: 20px;
  margin: 0 auto;
  display: flex;
  gap: 30px;
  flex-direction: column;
}

.form__top {
  display: flex;
  gap: 20px;
}

.form__top .form__group {
  position: relative;
  overflow: hidden;
  border-radius: 10px;
}

.form__span {
  content: "";
  position: absolute;
  width: 100%;
  height: 5px;
  background-color: var(--primario);
  left: 0;
  bottom: 0;
  transform: scaleX(0);
  transform-origin: bottom left;
  transition: all 200ms ease-in-out;
}

.form__group input:focus ~ .form__span {
  transform: scaleX(1);
}

.form__group label {
  margin-bottom: 10px;
  display: block;
  padding-left: 12px;
}

.form__name,
.form__email {
  width: 100%;
}

.form__input {
  outline: 0;
  color: var(--letras);
  padding: 12px;
  border-radius: 10px;
  font-size: 20px;
  font-weight: 300;
  background: transparent;
  border: solid 2px var(--primario);
  transition: all 100ms ease-in-out;
}

.form__textarea {
  min-height: 200px;
  max-height: 200px;
  min-width: 100%;
  max-width: 100%;
}

textarea:focus {
  box-shadow: 0 0px 1px 5px rgba(88, 71, 235, 0.4);
}

.waves {
  position: absolute;
  width: 100%;
  bottom: 20px;
  height: 15vh;
  min-height: 100px;
  max-height: 100px;
}

.parallax > use {
  animation: moveForever 25s cubic-bezier(0.55, 0.5, 0.45, 0.5) infinite;
}

.parallax > use:nth-child(1) {
  animation-delay: -2s;
  animation-duration: 7s;
}

.parallax > use:nth-child(2) {
  animation-delay: -3s;
  animation-duration: 10s;
}

.parallax > use:nth-child(3) {
  animation-delay: -4s;
  animation-duration: 13s;
}

.parallax > use:nth-child(4) {
  animation-delay: -5s;
  animation-duration: 20s;
}

@keyframes moveForever {
  0% {
    transform: translate3d(-90px, 0, 0);
  }
  100% {
    transform: translate3d(85px, 0, 0);
  }
}
body.hideScroll {
  overflow-y: hidden;
}

.loader-bg {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #00002a;
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loader-container {
  position: relative;
  height: 100px;
  width: 100px;
}

.loader-container::after {
  content: "R";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 50px;
  font-weight: 700;
  color: #56c2e6;
}

.loader {
  height: 100px;
  width: 10px;
  background-image: linear-gradient(45deg, #00bbcc, #009cd4);
  border-radius: 20px;
  box-shadow: 0 0 22px 2px rgba(0, 187, 204, 0.25);
  animation: crawl 3s infinite;
}

.dissapear {
  animation: vanish 1s forwards;
}

@keyframes vanish {
  100% {
    opacity: 0;
    visibility: hidden;
  }
}
@keyframes crawl {
  12.5% {
    height: 10px;
    width: 10px;
  }
  25% {
    height: 10px;
    width: 100px;
    transform: translateX(0);
  }
  37.5% {
    height: 10px;
    width: 10px;
    transform: translateX(86.5px);
  }
  50% {
    height: 100px;
    width: 10px;
    transform: translateX(86.5px);
  }
  62.5% {
    height: 10px;
    width: 10px;
    transform: translate(86.5px, 86.5px);
  }
  75% {
    height: 10px;
    width: 100px;
    transform: translateY(86.5px);
  }
  87.5% {
    height: 10px;
    width: 10px;
    transform: translateY(86.5px);
  }
}
@media screen and (max-width: 1100px) {
  /* HOME ------------------------------------------------------- */
  .home {
    padding: 70px 0;
  }
  .home__container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 80px;
  }
  .home__txt p {
    padding-left: 0;
  }
  .home__btn__container {
    padding-left: 0;
  }
  /* ABOUT ------------------------------------------------------ */
  .about {
    flex-direction: column;
    gap: 80px;
  }
  .about__container {
    width: 320px;
    height: 320px;
    order: 1;
  }
  /* PROYECT (inicio) ------------------------------------------- */
  .proyects {
    gap: 40px;
  }
  .proyects__title {
    padding-top: 100px;
  }
  .cards-container {
    padding-bottom: 100px;
  }
}
@media screen and (max-width: 576px) {
  /* GLOBAL ---------------------------------------------------- */
  .btn {
    font-size: 20px;
    padding: 10px 20px;
  }
  .btn-send {
    font-size: 18px;
  }
  .title {
    font-size: 40px;
  }
  .subtitle {
    font-size: 22px;
  }
  .sm-txt {
    font-size: 18px;
  }
  /* NAVBAR ----------------------------------------------------- */
  body {
    padding-top: 65px;
  }
  .label-menu {
    display: initial;
  }
  .nav__list {
    position: fixed;
    top: 71px;
    left: 0;
    width: 100%;
    height: 0;
    background-color: var(--fondo-navbar);
    flex-direction: column;
    justify-content: space-evenly;
    overflow: hidden;
    transition: all 200ms ease-in;
  }
  .nav__link a {
    font-size: 25px;
  }
  .nav__link__icon {
    width: 30px;
    height: 30px;
  }
  #btn-menu:checked ~ .nav__list {
    height: calc(100vh - 71px);
  }
  /* HOME ------------------------------------------------------- */
  .home__txt .name {
    font-size: 100px;
  }
  .home__ola {
    width: 80%;
  }
  .home__code {
    border-radius: 35px;
    padding: 22px 47px;
  }
  .home__code__txt {
    font-size: 16px;
    line-height: 1.5;
  }
  .home__link img {
    width: 35px;
    height: 35px;
  }
  /* ABOUT ----------------------------------------------------- */
  .about__text {
    padding: 0 20px;
  }
  .about__skills {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
  }
  /* PROYECT (inicio) ----------------------------------------------------- */
  .cards-container {
    gap: 40px;
    padding: 0 10px 100px;
  }
  .card {
    width: 100%;
    max-width: 350px;
  }
  /* CONTACT (inicio) -----------------------------------------------------*/
  .contact__description {
    padding: 0 15px;
  }
  .form__top {
    flex-direction: column;
  }
  .form__input {
    font-size: 16px;
  }
}
@media screen and (max-width: 480px) {
  /* GLOBAL -------------------------------------------------------------- */
  .btn-send {
    margin-left: initial;
    padding: 14px 22px;
  }
  .title, .subtitle {
    text-align: center;
  }
  /* NAVBAR ------------------------------------------------------------ */
  .nav__link__icon {
    width: 25px;
    height: 25px;
  }
  /* HOME -------------------------------------------------------------- */
  .home__txt {
    text-align: center;
    padding: 0 5px;
  }
  .home__txt .name {
    font-size: 80px;
  }
  .home__txt .subtitle {
    font-size: 18px;
  }
  .home__code {
    padding: 20px 35px;
  }
  .home__code__txt {
    font-size: 14px;
    line-height: 1.5;
  }
  .home__btn__container {
    justify-content: center;
    gap: 20px;
  }
  /* ABOUT ------------------------------------------------------------ */
  .about__container {
    width: 270px;
    height: 270px;
  }
  .about__skills {
    justify-content: center;
    align-items: center;
  }
  /* OLAS ------------------------------------------------------------- */
  .waves {
    height: 10vh;
    min-height: 50px;
    max-height: 50px;
  }
  /* FOOTER -------------------------------------------------------------*/
  footer {
    font-size: 10px;
  }
}
@media screen and (max-width: 385px) {
  /* HOME -------------------------------------------------------------- */
  .home__txt .name {
    font-size: 65px;
  }
  .home__btn__container {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .home__code {
    padding: 15px 30px;
  }
  .home__code__txt {
    font-size: 12px;
    line-height: 1.5;
  }
  /* ABOUT --------------------------------------------------------------- */
  .about {
    gap: 50px;
  }
  .about__container {
    width: 200px;
    height: 200px;
  }
  /* PROYECTS ------------------------------------------------------------- */
  .card {
    height: 225px;
  }
  .card__txt {
    padding: 18px;
  }
  .card__title {
    font-size: 18px;
    margin-bottom: 15px;
  }
  .card__description {
    font-size: 14px;
    margin-bottom: 2px;
  }
  .card__technologies {
    font-size: 12px;
  }
  .card__link img {
    width: 24px;
  }
  /* CONTACT ----------------------------------------------------------- */
  #contact {
    padding-bottom: 60px;
  }
}
@media screen and (max-width: 385px) {
  /* HOME ---------------------------------------------------------------- */
  .home__code {
    padding: 13px 25px;
  }
  .home__code__txt {
    font-size: 11px;
  }
}

/*# sourceMappingURL=styles.css.map */
