/* CONTACT (inicio)  ----------------------------------------------------------------------------------------------*/

#contact {
  padding-top: 50px;
  padding-bottom: 100px;
  scroll-margin-top: 40px;
}

.contact-title,
.contact-description {
  text-align: center;
}

.contact-description {
  max-width: 400px;
  margin: 0 auto;
  color: var(--letras);
  margin-bottom: 30px;
}

.contact-description a{
  color: var(--primario);
}

form {
  max-width: 620px;
  padding: 20px;
  margin: 0 auto;
  display: flex;
  gap: 30px;
  flex-direction: column;
}

.form-top {
  display: flex;
  gap: 20px;
}

.form-top .input-group{
  position: relative;
  overflow: hidden;
  border-radius: 10px;
}

.border-bot{
  content: "";
  position: absolute;
  width: 100%;
  height: 5px;
  /* background-color: #5847eb66; */
  background-color: var(--primario);
  left: 0;
  bottom: 0;
  transform: scaleX(0);
  transform-origin: bottom left;
  transition: all 200ms ease-in-out;
}

.input-group input:focus ~ .border-bot{
  transform: scaleX(1);
}

.input-group label{
  margin-bottom: 10px;
  display: block;
  padding-left: 12px;
}

.name-input,
.email-input {
  width: 100%;
}

.name-input,
.email-input,
.msg-input {
  outline: 0;
  color: var(--letras);
  padding: 12px;
  border-radius: 10px;
  font-size: 20px;
  font-weight: 300;
  background: transparent;
  border: solid 2px var(--primario);
  transition: all 100ms ease-in-out;
}

.msg-input {
  min-height: 200px;
  max-height: 200px;
  min-width: 100%;
  max-width: 100%;
}

textarea:focus{
  box-shadow: 0 0px 1px 5px #5847eb66;
}


.btn-send {
  margin-left: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  font-size: 20px;
  padding: 12px 22px;
  border-radius: 10px;
  border: solid 2px var(--primario);
  cursor: pointer;
  outline-offset: -1px;
  background-color: transparent;
  color: var(--primario);
  overflow: hidden;
  transition: all 250ms ease-in-out;
}

.btn-send:hover {
  color: hsl(0, 0%, 90%);
  background-color: var(--primario);
  box-shadow: 0 2px 50px hsl(246, 80%, 60%, 0.4);
}

.btn-send-icon{
  transition: all 250ms ease-in-out;
}

.btn-send:hover .btn-send-icon{
  filter: brightness(5);
}

/* CONTACT (fin)  -------------------------------------------------------------------------------------------------*/

/* home__OLAS(inicio) --------------------------------------------------------------------------------------------------*/
.waves {
  position: absolute;
  width: 100%;
  bottom: 20px;
  height: 15vh;
  min-height: 100px;
  max-height: 100px;
}

.parallax > use {
  animation: moveForever 25s cubic-bezier(0.55, 0.5, 0.45, 0.5) infinite;
}

.parallax > use:nth-child(1) {
  animation-delay: -2s;
  animation-duration: 7s;
}

.parallax > use:nth-child(2) {
  animation-delay: -3s;
  animation-duration: 10s;
}

.parallax > use:nth-child(3) {
  animation-delay: -4s;
  animation-duration: 13s;
}

.parallax > use:nth-child(4) {
  animation-delay: -5s;
  animation-duration: 20s;
}

@keyframes moveForever {
  0% {
    transform: translate3d(-90px, 0, 0);
  }
  100% {
    transform: translate3d(85px, 0, 0);
  }
}


/* home__OLAS(fin) --------------------------------------------------------------------------------------------------*/

/* FOOTER(inicio) --------------------------------------------------------------------------------------------------*/
footer {
  position: absolute;
  width: 100%;
  bottom: 0;
  height: 20px;
  font-size: 12px;
  font-weight: 500;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: rgb(88, 71, 235);
}
/* FOOTER(fin) --------------------------------------------------------------------------------------------------*/



