.about{
  &__container{
    transition-delay: 250ms;
    width: 420px;
    height: 420px;
    animation-name: deformar;
    animation-duration: 20s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: linear;
    overflow: hidden;
    border: solid 8px var(--primario);
  }

  &__fto{
    width: 100%;
    height: 100%;
    background-image: var(--filtro-perfil);
    background-size: cover;
  }
}
  
  @keyframes deformar {
    0% {
      border-radius: 50% 50% 70% 30% / 70% 29% 71% 30%;
    }
    25% {
      border-radius: 70% 30% 70% 30% / 54% 63% 37% 46%;
    }
    50% {
      border-radius: 25% 75% 87% 13% / 49% 58% 42% 51%;
    }
    75% {
      border-radius: 27% 73% 40% 60% / 13% 38% 62% 87%;
    }
    100% {
      border-radius: 32% 68% 66% 34% / 42% 40% 60% 58%;
    }
  }