.about{
  &__text{
    max-width: 550px;
  }

  &__subtitle{
    margin: 25px 0 20px;
  }

  &__skills{
    background-color: var(--fondo-navbar);
    border-radius: 15px;
    padding: 15px;
    display: flex;
    justify-content: center;
    gap: 30px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.25),
      inset 0 2px 2px 0 rgba(0, 0, 0, 0.25);

    &__icon{
      width: 70px;
    }
  }
}
  
$delay: 0;  

@for $i from 1 through 5{
  $delay: $delay + 50;
  .about__skills__icon:nth-child(#{$i}){
    transition-delay: #{$delay}ms;
  }
}
