.card {
    width: 350px;
    height: 260px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    overflow: hidden;
    color: var(--letras);
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25),
      inset 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    border-radius: 15px;
    outline-offset: -0.5px;

    &:first-child{
        background: url(../../assets/todolistscreen.png);
        background-size: cover;
        background-position: center center;
    }

    &:nth-child(2){
        background: url(../../assets/calculator-screen.png);
        background-size: cover;
        background-position: center center;
    }

    &:nth-child(3){
        background: url(../../assets/Rock-Paper-Scissor-screen.png);
        background-size: cover;
        background-position: center center;
    }

    &:nth-child(4){
        background: url(../../assets/memory-game-screen.png);
        background-size: cover;
        background-position: center center;
    }

    &:hover{
       outline: solid 2px var(--primario);
       box-shadow: 0 5px 10px hsl(246, 80%, 60%, 0.4),
          inset 0 2px 2px 0 rgba(0, 0, 0, 0.25);  
    }

    &:hover &__txt{
        height: 55%; 
    }

    &__txt{
        height: 60%;
        background-color: var(--fondo-navbar);
        border-radius: 15px;
        padding: 15px 20px;
        border-bottom: solid 5px var(--primario);
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        transition: all 500ms ease;
    }

    &__title{
        font-size: 22px;
        font-weight: 500;
        //margin-bottom: 20px;  
    }

    &__description {
        //margin-bottom: 5px;
        font-weight: 300;
    }

    &__bot {
        display: flex;
        justify-content: space-between;
        align-items: baseline;
    }

    &__technologies {
        font-weight: 300;
        font-size: 14px;
        letter-spacing: 0.5px;
        color: var(--sky-blue);
    }

    &__link{
        text-decoration: none;
    }

    &__link img {
        width: 28px;
    }

    &__link img:hover {
        filter: contrast(200%);
    }
  }
  

  $delay: 50;  

  @for $i from 1 through 3{
    $delay: $delay + 200;
    .card:nth-child(#{$i}){
      transition-delay: #{$delay}ms;
    }
  }
