.contact {
    padding-top: 200px;
    text-align: center;
    //color: var(--letters);

    &__title {
        color: var(--letters);
        font-size: 30px;
        margin-bottom: 15px;

        @media (min-width: 1000px) {
            font-size: 35px;
        }
    }

    &__description {
        color: var(--letters);
        font-size: 17px;
        line-height: 28px;
        margin-bottom: 50px;

        @media (min-width: 1000px) {
            font-size: 18px;
        }
    }

    &__email {
        color: var(--blue);

        &:active {
            color: var(--sky-blue);
        }
    }
}