header {
    width: 100%;
    height: 70px;
    position: fixed;
    top: 0;
    z-index: 10;
    backdrop-filter: blur(10px);
    background-image: var(--header-filter); 
    display: flex;
    align-items: center;

    @media (min-width: 600px){
        height: 100px;
    }

    @media (min-width: 900px){
        height: 140px;
    }
}