.home{
    
    &__container{
        display: flex;
        align-items: center;
        gap: 40px; 

    }

    &__txt {
    
        
        .name{
            font-size: 160px;
            color: var(--letras);
        }
    
        p{
            padding-left: 10px;
        }
    
        .rol{
            text-transform: uppercase;
            margin-bottom: 15px;
        }
    
      }

      &__btn__container{
        padding-left: 10px;
        display: flex;
        align-items: center;
        gap: 40px;
      }

    &__btn__group{
        display: flex;
        gap: 15px; 
    }

    &__link img{
       width: 45px;
       height: 45px;
    }

    &__link:hover{
        transform: scale(1.2);
        filter: contrast(250%);  
    }

    &__link{
        transition: all 200ms ease-in;
    }
}