*,
::before,
::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Ubuntu", sans-serif;
}

:root {
  --fondo-body: #0f1424;
  --fondo-navbar: #1c1f4a;
  --letras: hsl(0, 0%, 90%);
  --sombra-navbar: hsl(0, 0%, 0%, 0.3);
  --primario: rgb(88, 71, 235);
  --sky-blue: #56c2e6;
  --orange: #ff8c66;
  --green: #4acf81;
  --red: #ff5c7c;
  --violet: #7536d3;
  --yellow: #f1c65b;
  --filtro-perfil: linear-gradient(
      hsl(236, 45%, 20%, 0.35),
      hsl(236, 45%, 20%, 0.3)
    ),
    url(../../assets/foto-cuadrada.jpg);
}

.light-mode {
  --orange: hsl(10, 100%, 60%);
  --sky-blue: hsl(200, 90%, 42%);
  --fondo-body: #f9f9f9;
  --fondo-navbar: #f9f9f9;
  --sombra-navbar: hsl(0, 0%, 0%, 0.1);
  --letras: #0f1424;
  --filtro-perfil: linear-gradient(hsl(0, 0%, 90%, 0.2), hsl(0, 0%, 90%, 0.1)),
    url(../../assets/foto-cuadrada.jpg);
}

.hidden{
  opacity: 0;
  filter: blur(3px); 
  transform: translateY(70px); 
  transition: opacity 500ms ease-in,
   filter 300ms ease-in, 
   transform 600ms ease;
}

.show{
  opacity: 1;
  filter: blur(0);
  transform: translateY(0);
}

html{
  scroll-behavior: smooth;
}

body {
  padding-top: 72px;
  background-color: var(--fondo-body);
  width: 100%;
  min-height: 100vh;
  position: relative;
  transition: all 200ms ease-out;
  overflow-x: hidden;
}

.title{
  font-size: 50px;
  font-weight: 700;
  color: var(--letras);
  margin-bottom: 20px;
}

.sm-txt {
  font-size: 20px;
  line-height: 1.4;
  font-weight: 300;
  color: var(--letras);
}

/* HOME (inicio) ---------------------------------------------------- */

.home {
  width: 100%;
  scroll-margin-top: 72px;
}

.home__container {
  max-width: 1500px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: calc(100vh - 72px);
  margin: 0 auto;
  gap: 20px;
}

.home__ola {
  position: absolute;
  top: 0;
  right: 0;
  z-index: -50;
  width: 60vw;
}

/* HOME (fin) ---------------------------------------------------- */

/* ABOUT (inicio) ------------------------------------------------ */

.about {
  scroll-margin-top: 30px;
  padding: 50px 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 70px;
}

/* ABOUT (fin) ------------------------------------------------- */

/* PROYECTS (inicio) ------------------------------------------- */

.proyects{
  min-height: 100vh;
  padding-bottom: 50px;
  background-image: url(../../assets/proyect-fondo-2.png);
  background-repeat: no-repeat;
  background-position: center top;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 80px;
}

.proyects__title{
  padding-top: 40px;
}

.cards-container {
  padding: 0 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 80px;
}

/* PROYECTS (fin) ------------------------------------------- */

/* CONTACT (inicio) ------------------------------------------- */

.contact {
  padding-top: 50px;
  padding-bottom: 100px;
  scroll-margin-top: 40px;
}

.contact__title,
.contact__description {
  text-align: center;
}

.contact__description {
  max-width: 400px;
  margin: 0 auto;
  color: var(--letras);
  margin-bottom: 30px;
}

.contact__description a{
  color: var(--primario);
}

.contact__description a:active{
  color: var(--sky-blue);
}

/* CONTACT (fin) ------------------------------------------- */