* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Ubuntu", sans-serif;
}

html{
  scroll-behavior: smooth;
}

body {
  padding-top: 70px;
  overflow-x: hidden;
  position:relative;
  background-color: var(--body-bg);
  min-height: 100vh;

  @media (min-width: 600px){
      padding-top: 100px;
  }

  @media (min-width: 900px){
      padding-top: 140px;
  }
}

main {
  margin: 0 auto;
  width: 100%;
  max-width: 1450px;
}

