@media screen and (max-width: 1100px) {

  /* HOME ------------------------------------------------------- */

  .home{

    padding: 70px 0;

    &__container{
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 80px;
    }

    &__txt p{
      padding-left: 0;
    }

    &__btn__container{
      padding-left: 0;
    }
  }

  /* ABOUT ------------------------------------------------------ */

  .about {
    flex-direction: column;
    gap: 80px;

    &__container{
      width: 320px;
      height: 320px;
      order: 1;
    }
  }

  /* PROYECT (inicio) ------------------------------------------- */

  .proyects {
    gap: 40px;

    &__title{
      padding-top: 100px;
    }
  }

  .cards-container {
    padding-bottom: 100px;
  }
}

@media screen and (max-width: 576px) {

  /* GLOBAL ---------------------------------------------------- */

  .btn {
    font-size: 20px;
    padding: 10px 20px;
  }

  .btn-send {
    font-size: 18px;
  }

  .title {
    font-size: 40px;
  }

  .subtitle{
    font-size: 22px;
  }

  .sm-txt {
    font-size: 18px;
  }

  /* NAVBAR ----------------------------------------------------- */

  body {
    padding-top: 65px;
  }

  .label-menu {
    display: initial;
  }

  .nav__list {
    position: fixed;
    top: 71px;
    left: 0;
    width: 100%;
    height: 0;
    background-color: var(--fondo-navbar);
    flex-direction: column;
    justify-content: space-evenly;
    overflow: hidden;
    transition: all 200ms ease-in;
  }

  .nav__link a {
    font-size: 25px;
  }

  .nav__link__icon {
    width: 30px;
    height: 30px;
  }

  #btn-menu:checked ~ .nav__list {
    height: calc(100vh - 71px);
  }

  /* HOME ------------------------------------------------------- */

  .home{

    &__txt .name{
      font-size: 100px;
    }

    &__ola{
      width: 80%;
    }

    &__code{
      border-radius: 35px;
      padding: 22px 47px;

      &__txt{
        font-size: 16px;
        line-height: 1.5;
      }
    }

    &__link img{
      width: 35px;
      height: 35px;
    }

  }

  /* ABOUT ----------------------------------------------------- */

  .about{

    &__text{
      padding: 0 20px;
    }

    &__skills{
      display: flex;
      flex-wrap: wrap;
      gap: 15px;
    }

  }

  /* PROYECT (inicio) ----------------------------------------------------- */

  .cards-container {
    gap: 40px;
    padding: 0 10px 100px;
  }

  .card {
    width: 100%;
    max-width: 350px;
  }

  /* CONTACT (inicio) -----------------------------------------------------*/

  .contact__description {
    padding: 0 15px;
  }

  .form__top {
    flex-direction: column;
  }

  .form__input {
    font-size: 16px;
  }
}

@media screen and (max-width: 480px) {

/* GLOBAL -------------------------------------------------------------- */

  .btn-send {
    margin-left: initial;
    padding: 14px 22px;
  }

  .title, .subtitle{
    text-align: center;
  }

  /* NAVBAR ------------------------------------------------------------ */

  // .nav__link a {
  //   font-size: 20px;
  // }

  .nav__link__icon {
    width: 25px;
    height: 25px;
  }

  /* HOME -------------------------------------------------------------- */

  .home{

    &__txt{

      text-align: center;
      padding: 0 5px;

      .name{
        font-size: 80px;
      }

      .subtitle{
        font-size: 18px;
      }
    }

    &__code{
      padding: 20px 35px;

      &__txt{
        font-size: 14px;
        line-height: 1.5;
      }
    }

    &__btn__container{
      justify-content: center;
      gap: 20px;
    }
    
  }

  /* ABOUT ------------------------------------------------------------ */

  .about__container {
    width: 270px;
    height: 270px;
  }

  .about__skills {
    justify-content: center;
    align-items: center;
  }

  /* OLAS ------------------------------------------------------------- */

  .waves {
    height: 10vh;
    min-height: 50px;
    max-height: 50px;
  }

  /* FOOTER -------------------------------------------------------------*/
  footer {
    font-size: 10px;
  }
}

@media screen and (max-width: 385px) {

  /* HOME -------------------------------------------------------------- */

.home{
  &__txt .name{
    font-size: 65px;
  }

  &__btn__container{
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  &__code{
    padding: 15px 30px;
  }

  &__code__txt{
    font-size: 12px;
    line-height: 1.5;
  }
}

  /* ABOUT --------------------------------------------------------------- */
  .about {
    gap: 50px;
  }

  .about__container {
    width: 200px;
    height: 200px;
  }

  /* PROYECTS ------------------------------------------------------------- */

  .card{
    height: 225px;

    &__txt{
      padding: 18px;
    }

    &__title{
      font-size: 18px;
      margin-bottom: 15px;
    }

    &__description{
      font-size: 14px;
      margin-bottom: 2px;
    }

    &__technologies{
      font-size: 12px;
    }

    &__link img{
      width: 24px;
    }
  }

  /* CONTACT ----------------------------------------------------------- */

  #contact {
    padding-bottom: 60px;
  }
}

@media screen and (max-width: 385px) {
  /* HOME ---------------------------------------------------------------- */

  .home__code {
    padding: 13px 25px;
  }

  .home__code__txt {
    font-size: 11px;
  }
}
